* {
	margin:0; padding:0; 		/*全要素のマージン・パディングをリセット*/
}

body {
	font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans',
	'ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'
}

header {
  width : 100% ;
  height: 70px;
  border: 2px solid #cbcbcb;
  background-color: #93b3f7;
}


.header_flxcont{
  display: flex;
}

.header_flxitem1{
	width: 90%;
}
.header_flxitem2{
	width: 10%;
	float:right;
	font-size: 11px;
}

.main_flxcont{
  display: flex;
}

.main_flxitem1{
	width: 15%;
	/* width: 100px; */
	border-left: 2px solid #cbcbcb;
	border-right: 2px solid #cbcbcb;
}
.main_flxitem2{
	width: 85%;
	border-right: 2px solid #cbcbcb;
}

#wrapper {
  width : 100% ;
}

#main {
  font-size: 14px;
  min-height: 650px;
}

#main h3 {
  font-size: 16px;
  margin: 5px;
}

#page_title{
  width: 100%;
  overflow: hidden;
  background-color:#ebebeb;
	border-bottom: 2px solid #cbcbcb;
}

#page_title h2 {
  font-size: 20px;
  margin: 2px;
  padding: 0.125em 0.25em;/*上下 左右の余白*/
  color: #494949;/*文字色*/
  background: transparent;/*背景透明に*/
  border-left: solid 5px #ff96f1;/*左線*/
}

#contents_search{
  width: 100%;
  overflow: hidden;
  background-color:#ebebeb;
  border-bottom: 2px solid #cbcbcb;
}

#contents_result{
  width: 100%;
  overflow: hidden;
  background-color: #ffffff;
	border-bottom: 2px solid #cbcbcb;
}

#contents_rireki{
  width: 100%;
  overflow: hidden;
  background-color: #ffffff;
  border-bottom: 2px solid #cbcbcb;
}

#tbl_rireki th{
	padding-left: 5px;
	padding-right: 5px;
	background-color: #516C9D;
	color: #ffffff;
}

#tbl_rireki td{
	padding-left: 5px;
	padding-right: 5px;
}

#info_label{
  width: 100%;
  /* overflow: hidden; */
  background-color:#516c9d;
  border: 2px solid #cbcbcb;
  color: #ffffff;
}

#info_data{
  width: 100%;
  /* overflow: hidden; */
  background-color:#ffffff;
  border: 1px solid #cbcbcb;
  color: #000000;
}


.input_search{
	margin-left: 10px;
}


/* ↓↓↓↓↓ サイドメニュー用 ↓↓↓↓↓ */
#side_menue ul {
  list-style: none;
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 0px;
}

#side_menue > ul > li{
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 0px;
  border-left: solid 6px #ff96f1;/*左側の線*/
  border-bottom: solid 2px #dadada;/*下に灰色線*/
  font-weight: bold;
}

#side_menue > ul > li >p:hover{
  background-color:#FC9D9D ;
}

#side_menue > ul > li > ul >p:hover{
  background-color:#FC9D9D ;
}

#side_menue > ul > li > ul >li >a:hover{
  background-color:#FC9D9D ;
}

#side_menue > ul > li > ul > ul > li:hover{
  background-color:#FC9D9D ;
}

#side_menue ul ul {
  list-style: none;
  font-size: 14px;
  margin:0px 0px 0px 10px;
  padding:0px 0px 0px 0px;
}

#side_menue ul ul li{
  font-size: 12px;
}

.accordion_menue .inner {
  display: none;
}
.accordion_menue p{
  cursor: pointer;
}
/* ↑↑↑↑↑ サイドメニュー用 ↑↑↑↑↑ */

/* ↓↓↓↓↓ detatables用 ↓↓↓↓↓ */
#tbl_result {
  white-space: nowrap; /* 横幅のMAXに達しても改行しない */
}
#tbl_result tr:hover{
  background-color: #FC9D9D;  /* ホバー時の行の色 */
}
/* DataTablesのヘッダー部 */
#tbl_result_wrapper .dataTables_scrollHeadInner,th.sorting,th.sorting_asc,th.sorting_desc
{
  color: #ffffff;
  background-color: #516C9D;
}
/* ↑↑↑↑↑ detatables用 ↑↑↑↑↑ */

/* ↓↓↓↓ボタンデザイン↓↓↓↓ */
.square_btn {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #ff96f1;
    background: #454545;
    border-radius: 0 15px 15px 0;
    transition: .4s;
  }

.square_btn:hover {
    background: #8b8888;
}

.square_print_btn{
  position: relative;
  /* left:30px; */
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #00bcd4;
  transition: .4s;
}

.square_print_btn:hover {
    background: #1ec7bb;
}

/* ↑↑↑↑ボタンデザイン↑↑↑↑ */

/* ↓↓↓↓ローディング画面↓↓↓↓ */
#loading {
  display: table;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 0.8;
}

#loading .loadingMsg {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding-top: 140px;
  background: url("../img/loading.gif") center center no-repeat;
}
/* ↑↑↑↑ローディング画面↑↑↑↑ */

/* ↓↓↓↓スクロールバーのデザイン↓↓↓↓ */
.scrollArea{
	height: 150px;
	width: 100%;
	overflow: auto;
	/* padding-right: 20px; */
	margin-left: 10px;
}
/*スクロールバーの横幅指定*/
.scrollArea.deco::-webkit-scrollbar {
    width: 15px;
}
/*スクロールバーの背景色・角丸指定*/
.scrollArea.deco::-webkit-scrollbar-track {
  border-radius: 10px;
	background: #f2f2f2;
}
/*スクロールバーの色・角丸指定*/
.scrollArea.deco::-webkit-scrollbar-thumb {
  border-radius: 10px;
	background:#516C9D;
}
/* ↑↑↑↑スクロールバーのデザイン↑↑↑↑ */

footer {
  clear: both;
  height: 100px;
  width : 100% ;
  background-color: #28385E;
  color: #ffffff;
}
